<div class="wrap-container">
  <% if !@articles.empty? %>
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-6 col-sm-6 col-lg-4">
          <h2><%= article.title%></h2>
            <p><%= article.content %></p>
            <p><%= link_to "more", [article.user, article], class: "btn btn-default", role: "button" %></p>
          </div>
      <% end %>
    </div>
  <% end %>

  <% if signed_in? %>
      <div class="span7 text-center">
        <%= link_to 'New Article', new_user_article_path(current_user), class: "btn btn-success btn-lg" %>
      </div>
  <% end %>
</div>