<% page_title = t 'photos.label.photos' %>
<%= title (page_title) %>

<div class="container-fluid">
  <h3><%= page_title %></h3>
  <%= render partial: 'photos/justified/gallery', :locals => {:photos => @photos} %>
</div>