<div class="container-fluid">
  <div class="page-header">
    <h3><%=t 'photos.label.last100'%></h3>
  </div>

  <%= render partial: 'photos/justified_gallery', :locals => {:photos => @photos} %>
</div>