<div class="col-6 col-sm-6 col-lg-4">
    <h3><%= article.title %></h3>
    <p><%= html_intro_article(article) %></p>
    <p>
    <div class="article-photo-preview-container">
        <% article.photos.each do |photo| %>
            <%= image_tag image_photo_url(photo, :thumb), class: 'pull-left article-photo-preview' %>
        <% end %>
    </div>
    </p>
    <p><%= link_to "more", [article.user, article], class: "btn btn-default", role: "button" %></p>
</div>