<div class="container-fluid">
  <% if @drafts && @drafts.any? %>
    <h3><%= t 'articles.label.your_drafts' %></h3>
    <%= render partial: 'articles/article_list', locals: {articles: @drafts} %>
  <% end %>
  <h3>
    <%= t('articles.label.your_published') %>
  </h3>
  <%= render partial: 'articles/article_list', locals: {articles: @articles} %>
</div>