<% if @photo.exif.priority_tags.any? %>
    <h4><%= t 'photos.label.exif' %></h4>
    <% @photo.exif.priority_tags.each do |tag| %>
        <%= "#{tag}: #{@photo.exif[tag]}" %><br>
    <% end %>
<% end %>
