<%= form_for([object, object.comments.new],  html: {remote: true, role: 'form', 'data-model' => 'comment'} ) do |f| %>
  <div class="form-group">
    <%= f.label :content, t('comments.label.new'), class: 'control-label' %>
    <%= f.text_area :content, class: 'form-control', rows: 3 %>
    <span class="help-block"></span>
  </div>
  <%= f.submit t('button.leave'), class: "btn btn-primary" %>
<% end %>