<div data-role="footer">
  <div data-role="navbar">
    <ul>
      <li>
    <%=
      if I18n.locale == :ru
        link_to "ENG", locale_english_path, rel: 'external'
      else
        link_to "RUS", locale_russian_path, rel: 'external'
      end
    %>
      </li>
      <li><%= link_to t('full_version'), switch_format_sessions_path(preferred_format: 'html'), rel: 'external'%></li>
    </ul>
  </div><!-- /navbar -->
</div>