<% content_for :head do %>
    <%= javascript_include_tag 'custom/nanogallery', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'custom/nanogallery', 'data-turbolinks-track' => true %>
<% end %>

<script type="text/javascript" charset="utf-8">
    var loadGallery = function () {
        jQuery("#nanoGallery").nanoGallery({
          thumbnailWidth: 100,
          thumbnailHeight: 100,
          thumbnailLabel: {display: false},
          thumbnailDisplayInterval: 10,
          thumbnailDisplayTransition: true,
          paginationMaxLinesPerPage: 1,
          thumbnailHoverEffect: [{'name': 'scale120'}]
      });
  }
  $(document).ready(loadGallery);
  $(document).on('load', loadGallery);
</script>

<div class="page-header"><h1><%= t 'photos.label.last100' %></h1></div>
<div id="nanoGallery">
  <% @photos.each do |photo| %>
      <%= link_to photo.title, photo.get_url(:original), 'data-ngdest' => photo_url(photo) ,'data-ngThumb' => photo.get_url(:thumb) %>
  <% end %>
</div>