<div class="container-fluid">
  <h3>
    <%=t 'albums.label.your_albums'%>
    <%= link_to new_album_path, remote: :true, :class => 'btn btn-success btn-xs pull-right' do %>
      <i class="glyphicon glyphicon-plus"></i>
    <% end %>
  </h3>

  <div id="albums-area">
    <% @albums.each do |album| %>
      <%= render partial: 'album_item', locals: {album: album} %>
    <% end %>
  </div>
</div>

<div class="modal fade" id="new_album_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">Loading...</div>