<div class="wrap-container">
  <% @albums.each do |album| %>
    <%= album.title %>
    <%= link_to 'Show', user_album_path(album.user, album) %>
    <%= link_to 'Edit', edit_user_album_path(album.user, album) %>
    <%= link_to 'Destroy', user_albums_path(album.user, album), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>