<% @context = @album %>

<div class="container-fluid">
  <div class="page-header">
    <h3><%= t 'albums.label.name', :name => @album.title %>
      <% if admin_or_current?(@album.user) %>
        <%= link_to @album, method: 'DELETE' ,class: 'pull-right btn btn-xs btn-danger',
                    :data => { :confirm => t('albums.confirm.delete', :name => @album.title) } do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
        <%= link_to edit_album_path(@album), class: 'pull-right btn btn-xs btn-success' do %>
          <i class="glyphicon glyphicon-edit"></i>
        <% end %>
      <% end %>
    </h3>
  </div>

  <%= render partial: 'photos/justified_gallery', :locals => {:photos => @album.photos.page(params[:page])} %>
</div>