<div data-role="page" id="welcome">
  <%= render partial: "shared/header", locals: {title: 'Welcome'} %>
  <div data-role="content">
    Welcome
  </div>
  <%= render partial: "shared/footer"%>
</div>
