<div id="photo-infscrl-page">
  <div id="justified-photos">
    <%= render partial: 'photos/justified/photo', collection: photos, as: :photo %>
  </div>
</div>
<div id="page-loader" class="text-center"></div>
<div id="photo-paginate" class="text-center">
  <%= link_to_next_page photos, 'More', remote: true %>
</div>
