<div class="item" id="<%= photo_id(photo) %>">
  <%= link_to_photo photo, context: @context do %>
      <%= image_tag image_photo_url(photo, :small), alt: "#{photo.title}" %>
  <% end %>
  <div class="caption">
    <strong><%= photo.title %></strong>
  </div>
</div>