<div id="photo-infscrl-page">
  <div id="photos-area">
    <%= render partial: 'photos/justified_photos', locals:{photos: photos} %>
  </div>
</div>
<div id="page-loader" class="text-center"></div>
<div id="photo-paginate" class="text-center">
  <%= link_to_next_page photos, 'More', remote: true %>
</div>
