<a style="display: block; width: 100px; margin: 15px auto;" data-toggle="modal" href="#browser" class="btn btn-primary">Browser</a>
<div id="browser" class="modal modal-wide fade">
  <%= render partial: 'modal_browser', locals: {photos: @photos} %>
</div>