<% content_for :head do %>
    <%= javascript_include_tag 'custom/nanogallery', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'custom/nanogallery', 'data-turbolinks-track' => true %>
<% end %>

<script type="application/javascript">
    var loadGallery = function () {
        $(document).ready(function () {
            $("#gallery").nanoGallery({
                thumbnailWidth: 'auto',
                thumbnailHeight: 240,
                thumbnailHoverEffect: [
                    { name: 'labelAppear75', duration: 300 }
                ],
                thumbnailGutterWidth: 0,
                thumbnailGutterHeight: 0,
                theme: 'clean',
                thumbnailLabel: {
                    position: 'overImageOnBottom',
                    hideIcons: true}
            });
        });
    }
    $(document).ready(loadGallery);
</script>

<div class="page-header">
  <h1><%=t 'photos.label.last100'%></h1>
</div>

<div id="gallery">
  <% @photos.each do |photo| %>
    <%= link_to photo.title, photo.get_url(:medium), 'data-ngThumb' => photo.get_url(:small), 'data-ngdesc' => photo.user.name %>
  <% end %>
</div>