#photo-container {
  position: relative;
  background-color: lighten(#000, 20%);
  padding: 20px 0;
  margin-bottom: 20px;

  a > .nav {
    position: absolute;
    display: block;
    top: 25%;
    height: 50%;
    width: 25%;
  }
  a > .prev {left: 0px;}
  a > .next {right: 0px;}
  a > .nav > span {
    color: #ddd;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    display: none;
  }
  a > .prev > span {left: 0px;}
  a > .next > span {right: 0px;}

  #main-photo {
    max-width: 100%;
  }

  #return-link.bottom-link {
    left: 0;
  }

  .bottom-link {
    position:absolute;
    bottom: 0;
    margin: 3px;
    color: #fff;

    span {
      font-size: 16px;
    }
  }
}

.description-panel {
  > .panel-heading, > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
  }

  > .panel-heading {
    padding-bottom: 5px;

    > img {
      margin-right: 15px;
    }

    > h3 {
      margin: 0px;
      font-size: 14px;
      font-weight: 700;
    }

    > h5 {
      color: rgb(153, 153, 153);
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.context-block {
  position: relative;

  .right-head-link {
    position: absolute;
    right: 10px;
    top: 0px;
  }

  .context-item {
    position: relative;
    padding: 10px;
    min-height: 70px;

    > h4 {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 15px;
      font-weight: bold;
      font-size: 12pt;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .remove-link {
      position: absolute;
      top: 10px;
      right: 10px;
      color: darkred;
    }

    .control {
      display: none;
    }

    .thumbnail {
      float: left;
      height: 50px;
      width: 50px;
      margin: 0px 10px 0px 0px;
      padding: 0px;
      position: realtive;
    }

    .count {
      padding-left: 60px;
      display: block;
    }
  }

  .context-item:hover {
    background-color: #f1f1f1;
  }
}

.blog-sub-content {
  text-align: center;
  text-indent: 0;

  .blog-photo-view {
    position: relative;
    background-color: #222;
    padding: 15px 15px 0px;
    display: inline-block;
    max-width: 100%;

    a > img.blog-photo-img {
      display: block;
      max-width: 100%;
    }

    > div.blog-photo-caption {
      color: #fff;
      width: 100%;
      text-align: right;
      height: 21px;
      overflow: hidden;
      background-color: #222;
      font-size: 12px;
    }

    > div.meta-info {
      position: absolute;
      bottom: 30px;
      right: 30px;
      width: 200px;
      height: 100px;
      padding: 5px;
      display: none;
      -moz-border-radius: 5px;
      border-radius: 5px;

      background-color: black;
      color: white;
      font-size: 12px;
      text-indent: 0;
      line-height: 12px;

      h1 {
        padding: 0;
        margin: 0 0 3px 0;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
      }

      p {
        padding: 0 0 1px 0;
        margin: 0;
      }

      p.one-line {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}