#photo-container {
  position: relative;
  background-color: lighten(#000, 20%);
  padding: 20px 0;
  margin-bottom: 20px;

  a > .nav {
    position: absolute;
    display: block;
    top: 25%;
    height: 50%;
    width: 25%;
  }
  a > .prev {left: 0px;}
  a > .next {right: 0px;}
  a > .nav > span {
    display: block;
    color: #ddd;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    display: none;
  }
  a > .prev > span {left: 0px;}
  a > .next > span {right: 0px;}

  #main-photo {
    max-width: 100%;
  }
}

.description-panel {
  > .panel-heading, > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px;
  }

  > .panel-heading {
    padding-bottom: 5px;

    > img {
      margin-right: 15px;
    }

    > h3 {
      margin: 0px;
      font-size: 14px;
      font-weight: 700;
    }

    > h5 {
      color: rgb(153, 153, 153);
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.context-block {
  position: relative;

  .right-head-link {
    position: absolute;
    right: 10px;
    top: 0px;
  }

  .context-item {
    position: relative;
    padding: 10px;
    min-height: 70px;

    > h4 {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 15px;
      font-weight: bold;
      font-size: 12pt;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .remove-link {
      position: absolute;
      top: 10px;
      right: 10px;
      color: darkred;
    }

    .control {
      display: none;
    }

    .thumbnail {
      float: left;
      height: 50px;
      width: 50px;
      margin: 0px 10px 0px 0px;
      padding: 0px;
      position: realtive;
    }

    .count {
      padding-left: 60px;
      display: block;
    }
  }

  .context-item:hover {
    background-color: #f1f1f1;
  }
}