.user-avatar {
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
}

#user-profile-container {
    margin-top: 20px;
}

.user-card {
  padding: 5px;

  > a {
    color: inherit;
  }

  .user-card-block {
    padding: 0;
    background-color: #fafafa;

    img {
      float: left;
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }

    .user-card-body {
      height: 75px;

      h1 {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        height: 25px;
      }

      h2 {
        font-size: 16px;
        margin: 0;
        padding: 0;
        height: 20px;
      }

      h5 {
        font-size: 12px;
        margin: 0;
        padding: 0;
        height: 30px;
      }

      overflow: hidden;
    }

    .user-card-footer {
      text-align: right;
      height: 25px;
    }
  }
}