<div data-role="header" data-id="main">
  <h1><%= title %></h1>
  <% if signed_in? %>
    <%= link_to current_user.name, user_path(current_user), 'data-icon' => 'gear' %>
    <%= link_to t('sessions.logout'), signout_path %>
  <% else %>
    <%= link_to t('sessions.login'), signin_path, class: "ui-btn-right" %>
  <% end %>
</div>